.navbar{
    display:flex;
    justify-content: space-around;
    padding:16px;
    box-shadow: 0 1px 3px -2px black;
}
.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-family: 'Georgia', serif;
}

.shopping-bag {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
  
}

.navbar-logo-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seat-icon {
  width: 40px;
  height: auto;
}

.navbar-logo-text h1 {
  margin: 0;
  font-size: 15px;
  color: #1B4E45; 
  font-weight: bold;
  margin-bottom:3px;
}

.navbar-logo-text p {
  margin: 0;
  font-size: 10px;
  color:  #1B4E45; 
}

.nav-menu{
    display:flex;
    align-items:center;
    list-style:none;
    gap:40px;
    color:#737373;
    font-size:15px;
    font-weight:400;
}
.nav-menu li{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1px;
    cursor:pointer;
} 
.nav-menu hr{
    border:none;
    width:30px;
    height:3px;
    border-radius:10px;
    background-color: darkgreen;

}
.nav-login-cart{
    display:flex;
    align-items:center;
    gap:45px;
}
.nav-login-cart button{
    width:90px;
    height:35px;
    outline:none;
    border:1px solid #7a7a7a;
    border-radius:75px;
    color:#515151;
    font-size:13px;
    font-weight: 400;
    background:white;
    cursor:pointer;
}
.nav-login-cart button:active{
    background-color: #f3f3f3;
}
.nav-cart-count{
    width:15px;
    height:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-35px;
    margin-left:-55px;
    border-radius:12px;
    font-size:14px;
    background-color: red;
    color:white;
}




@media screen and (min-width: 1024px) and (max-width: 1220px){
    /* Scrollable navbar */

.navbar{
  padding:12px 50px;
}
.nav-menu {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
   scroll-behavior: smooth;
   font-size:16px;
}
.shopping-bag{
  margin-left: 50px;
}
.navbar-logo img{
  width:50px;
}
.navbar-logo-content img{
  width: 35px;
  height: auto;
}
.navbar-logo-text h1{
  
  font-size:12px;
}
.navbar-logo-text p{
  
  display: none;
}
.navbar-logo{
   align-items: center;
}
.navbar-logo-text{
  text-align: center;
}
 .nav-login-cart button{
  margin-left: 15px;
 }
 .seat-icon {
  width: 30px;
  
}
.navbar-logo-text{
  margin-left: 0px;
}

.nav-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.nav-menu li {
  flex: 0 0 auto; /* Prevent shrinking */
}

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .navbar{
  padding:12px 50px;
}

.nav-menu {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
   scroll-behavior: smooth;
   font-size:16px;
}
.navbar-logo{
   align-items: center;
}
.shopping-bag{
  
 
  margin-left: 50px;
}
.navbar-logo img{
  width:40px;
}
.navbar-logo-content img{
  width: 35px;
  height: auto;
}
.navbar-logo-text h1{
  font-size:12px;
}
.navbar-logo-text p{
  display: none;
}

.navbar-logo-text{
  
  text-align: center;
}
 .nav-login-cart button{
  margin-left: 15px;
 }
 .seat-icon {
  width: 30px;
  
}
.navbar-logo-text{
  margin-left: 0px;
}

.nav-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.nav-menu li {
  flex: 0 0 auto; /* Prevent shrinking */
}
}
